---
import SectionTitle from '../sectionTitle/SectionTitle.astro';
---

<section>
  <SectionTitle text='Contact Info' />
  <p class='md:text-lg pb-4'>
    &emsp;I'm currently looking for new opportunities. If you're interested in reaching out to me for work, to
    collaborate on a project, or simply to connect please feel free to click on one of the links listed below! The best
    way to reach me is via email or LinkedIn. I do not post much on social media, but I do promise that I am actively
    engaged with anyone who reaches out.
  </p>
</section>
