---
import SectionTitle from '../sectionTitle/SectionTitle.astro';
import BioItem from './BioItem.astro';
---

<section class='my-4'>
  <SectionTitle text='Bio' />
  <BioItem year={2022} text='Worked at Rob Graham Enterprises as a Full-Stack JavaScript Developer' />
  <BioItem year={2022} text='Certified by Thinkful as Full Stack Web Developer' />
  <BioItem year={2021} text='Student at Stetson College of Law' />
  <BioItem year={2020} text='Legal Intern at Open Palm Law' />
  <BioItem year={2019} text="Received Bachelor's Degree for Legal Studies at the University of Central Florida" />
  <BioItem
    year={2018}
    text='Vice President of Internal Affairs for the Interfraternal Council at the University of Central Florida'
  />
  <BioItem year={2017} text='President of Alpha Epsilon Pi at the University of Central Floida' />
  <BioItem year={1997} text='Born in El Paso, Texas' />
</section>
