---
---

<section class='flex items-center align-center my-4'>
  <div class='flex-1'>
    <h2 class='md:text-4xl text-3xl font-semibold'>Joshua Levine</h2>
    <p class='md:text-lg text-sm'>Web and Software Developer</p>
    <ul class='ml-6 text-xs md:text-base'>
      <li>Bachelors Degree in Legal Studies</li>
      <li>Bilingual: English/Spanish</li>
    </ul>
  </div>
  <div class='shrink-0 mt-4 ml-6 align-center'>
    <img
      src='/images/happyHeadshot.png'
      class='border-2 border-gray-500 max-w-[100px] inline-block rounded-full'
      alt='Joshua Levine Profile Picture'
    />
  </div>
</section>
