---
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Header from '../components/header/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
  </Body>
</html>
