---
import ProgressiveImg from '../progressiveImg/ProgressiveImg';

export interface Props {
  id: string;
  projectTitle: string;
  shortProjectDescription: string;
  highQualityThumbnail: string;
  lowQualityThumbnail: string;
}

const { id, projectTitle, shortProjectDescription, lowQualityThumbnail, highQualityThumbnail } = Astro.props;
---

<div class='w-full'>
  <a href={'/projects/' + id} class='flex flex-col items-center justify-center'>
    <h3 class='text-xl'>{projectTitle}</h3>
    <p class='text-center mb-3 min-h-[75px]'>{shortProjectDescription}</p>
    <ProgressiveImg
      client:visible
      alt={projectTitle + ' thumbnail'}
      placeholder={lowQualityThumbnail}
      src={highQualityThumbnail}
      className='border-2 border-orange-200 dark:border-teal-400 dark:border-opacity-20 rounded-xl'
    />
  </a>
  <hr class='h-1 border-0 bg-orange-200 dark:bg-teal-800 mt-[50px]' />
</div>
