<section class='relative mb-6 h-80 flex justify-center items-center'>
  <div class='absolute w-full h-full overflow-hidden'>
    <img
      src='/scared-home-alone.gif'
      class='absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-60 dark:opacity-30'
    />
  </div>
  <div class='z-10 text-center px-8 drop-shadow-lg shadow-black'>
    <div class='uppercase text-sm mb-4'>This house is so full of people it makes me sick!</div>
    <div class='text-4xl font-mplus font-medium'>
      When I grow up and get married, I&#39;m living <span class='text-orange-600 dark:text-teal-300'>alone</span>
    </div>
  </div>
</section>
