---
import BaseHead from '../../components/BaseHead.astro';
import Body from '../../components/Body.astro';
import Content from '../../components/Content.astro';
import Header from '../../components/header/Header.astro';
import ProjectItem from '../../components/projectsPage/ProjectItem.astro';
import SectionTitle from '../../components/sectionTitle/SectionTitle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - Projects'} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class='pt-[60px]'>
      <Content>
        <SectionTitle text='Projects - Click to Expand' />
        <div class='my-8'></div>
        <div class='grid md:grid-cols-2 grid-cols-1 gap-6'>
          <ProjectItem
            id='periodicTables'
            projectTitle='Periodic Tables'
            shortProjectDescription='A restaurant reservation system for a fictional restaurant'
            highQualityThumbnail='/public/images/periodicTables/periodicHomePage.jpg'
            lowQualityThumbnail='/public/images/periodicTables/periodicHomePageCompressed.jpg'
          />
          <ProjectItem
            id='flashcard'
            projectTitle='Flashcard-O-Matic'
            shortProjectDescription='A flashcard making app for taking notes and studying any subject'
            highQualityThumbnail='/public/images/Flashcard-O-Matic/flashcardOMaticHomePage.jpg'
            lowQualityThumbnail='/public/images/Flashcard-O-Matic/flashcardOMaticHomePageCompressed.jpg'
          />
        </div>
      </Content>
    </main>
  </Body>
</html>
