---
import BaseHead from '../../components/BaseHead.astro';
import Blurb from '../../components/blurb/Blurb.astro';
import Body from '../../components/Body.astro';
import ButtonLink from '../../components/buttonLink/ButtonLink';
import Content from '../../components/Content.astro';
import Header from '../../components/header/Header.astro';
import Main from '../../components/main/Main.astro';
import ProjectItem from '../../components/projectsPage/ProjectItem.astro';
import SectionTitle from '../../components/sectionTitle/SectionTitle.astro';
import { OLD_PORTFOLIO, SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - Projects'} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Main>
      <Content>
        <SectionTitle text='Projects - Click to Expand' />
        <div class='my-8'>
          <Blurb>
            <p class='px-3 pb-3 md:text-lg'>
              This is a rebuild of my original portfolio; it is mostly the same, but it is now using Astro, React,
              TypeScript, and Tailwind instead of Next.js, plain JavaScript, and Chakra UI.
            </p>
            <ButtonLink
              target={'_blank'}
              href='https://github.com/JoshJAL/updated-portfolio'
              text='Original Source Code'
            />
            <div class='py-2'></div>
            <ButtonLink target={'_blank'} href={OLD_PORTFOLIO} text='Original Portfolio' />
          </Blurb>
        </div>
        <div class='grid md:grid-cols-2 grid-cols-1 gap-6'>
          <ProjectItem
            id='periodicTables'
            projectTitle='Periodic Tables'
            shortProjectDescription='A restaurant reservation system for a fictional restaurant'
            highQualityThumbnail='/images/periodicTables/periodicHomePage.jpg'
            lowQualityThumbnail='/images/periodicTables/periodicHomePageCompressed.jpg'
          />
          <ProjectItem
            id='flashcard'
            projectTitle='Flashcard-O-Matic'
            shortProjectDescription='A flashcard making app for taking notes and studying any subject'
            highQualityThumbnail='/images/Flashcard-O-Matic/flashcardOMaticHomePage.jpg'
            lowQualityThumbnail='/images/Flashcard-O-Matic/flashcardOMaticHomePageCompressed.jpg'
          />
          <ProjectItem
            id='pomodoroTimer'
            projectTitle='Pomodoro Timer'
            shortProjectDescription='A study timer built around the Pomodoro Technique with a "Focus" timer and a "Break" timer'
            highQualityThumbnail='/images/pomodoroTimer/pomodoroTimerHomePage.jpg'
            lowQualityThumbnail='/images/pomodoroTimer/pomodoroTimerHomePageCompressed.jpg'
          />
          <ProjectItem
            id='simpleCalculator'
            projectTitle='Simple JavaScript Calculator'
            shortProjectDescription='A simple calculator application that can add, subtract, multiply, and divide'
            highQualityThumbnail='/images/simpleCalc/simpleCalcHome.jpg'
            lowQualityThumbnail='/images/simpleCalc/simpleCalcHomeCompressed.jpg'
          />
          <ProjectItem
            id='ticketingSolution'
            projectTitle='Ticketing Solution'
            shortProjectDescription='A scalable ticking solution for any company or organization'
            highQualityThumbnail='/images/ticketingSolution/ticketForm.jpg'
            lowQualityThumbnail='/images/ticketingSolution/ticketFormCompressed.jpg'
          />
          <ProjectItem
            id='javaSnake'
            projectTitle='Java Snake'
            shortProjectDescription='The classic game of Snake written in Java'
            highQualityThumbnail='/images/JavaSnake/gameRunning.jpg'
            lowQualityThumbnail='/images/JavaSnake/gameRunningCompressed.jpg'
          />
          <ProjectItem
            id='javaCalc'
            projectTitle='Java Calculator'
            shortProjectDescription='A simple calculator application written in Java'
            highQualityThumbnail='/images/javaCalc/home.jpg'
            lowQualityThumbnail='/images/javaCalc/homeCompressed.jpg'
          />
          <ProjectItem
            id='adminDashboard'
            projectTitle='Admin Dashboard'
            shortProjectDescription='An admin dashboard for an e-commerce company; with light and dark mode'
            highQualityThumbnail='/images/adminDashboard/desktop-light.jpg'
            lowQualityThumbnail='/images/adminDashboard/desktop-lightCompressed.jpg'
          />
          <ProjectItem
            id='javaTextEditor'
            projectTitle='Text Editor'
            shortProjectDescription='A simple text editor written in Java'
            highQualityThumbnail='/images/JavaTextEditor/firstOpen.jpg'
            lowQualityThumbnail='/images/JavaTextEditor/firstOpenCompressed.jpg'
          />
          <ProjectItem
            id='thingsIUse'
            projectTitle='Things I Use'
            shortProjectDescription='A curated list of the tech I use'
            highQualityThumbnail='/images/thingsIUse/home-dark.jpg'
            lowQualityThumbnail='/images/thingsIUse/home-darkCompressed.jpg'
          />
          <ProjectItem
            id='modernUI'
            projectTitle='Modern UI Design'
            shortProjectDescription='A Modern UI Design in C#'
            highQualityThumbnail='/images/ModernUI/home-page.jpg'
            lowQualityThumbnail='/images/ModernUI/home-pageCompressed.jpg'
          />
          <ProjectItem
            id='fullStackAdminDashboard'
            projectTitle='MERN Stack Admin Dashboard'
            shortProjectDescription='A full stack admin dashboard for an e-commerce company; with light and dark mode'
            highQualityThumbnail='/images/MERNAdminDashboard/dashboard-dark.jpg'
            lowQualityThumbnail='/images/MERNAdminDashboard/dashboard-darkCompressed.jpg'
          />
        </div>
      </Content>
    </Main>
  </Body>
</html>
