---
import BaseHead from '../../components/BaseHead.astro';
import Body from '../../components/Body.astro';
import Content from '../../components/Content.astro';
import Header from '../../components/header/Header.astro';
import SectionTitle from '../../components/sectionTitle/SectionTitle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - Projects'} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class='pt-[60px]'>
      <Content>
        <SectionTitle text='Projects - Click to Expand' />
        <div class='grid md:grid-cols-2 grid-cols-1 gap-6'>
          <div class=''>
            <div>
              <a></a>
            </div>
          </div>
        </div>
      </Content>
    </main>
  </Body>
</html>
