---
import BaseHead from '../../components/BaseHead.astro';
import Body from '../../components/Body.astro';
import Content from '../../components/Content.astro';
import Header from '../../components/header/Header.astro';
import ProjectItem from '../../components/projectsPage/ProjectItem.astro';
import SectionTitle from '../../components/sectionTitle/SectionTitle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={SITE_TITLE + ' - Projects'} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class='pt-[60px]'>
      <Content>
        <SectionTitle text='Projects - Click to Expand' />
        <div class='my-8'></div>
        <div class='grid md:grid-cols-2 grid-cols-1 gap-6'>
          <ProjectItem
            id='periodicTables'
            projectTitle='Periodic Tables'
            shortProjectDescription='A restaurant reservation system for a fictional restaurant'
            highQualityThumbnail='/images/periodicTables/periodicHomePage.jpg'
            lowQualityThumbnail='/images/periodicTables/periodicHomePageCompressed.jpg'
          />
          <ProjectItem
            id='flashcard'
            projectTitle='Flashcard-O-Matic'
            shortProjectDescription='A flashcard making app for taking notes and studying any subject'
            highQualityThumbnail='/images/Flashcard-O-Matic/flashcardOMaticHomePage.jpg'
            lowQualityThumbnail='/images/Flashcard-O-Matic/flashcardOMaticHomePageCompressed.jpg'
          />
          <ProjectItem
            id='pomodoroTimer'
            projectTitle='Pomodoro Timer'
            shortProjectDescription='A study timer built around the Pomodoro Technique with a "Focus" timer and a "Break" timer'
            highQualityThumbnail='/images/pomodoroTimer/pomodoroTimerHomePage.jpg'
            lowQualityThumbnail='/images/pomodoroTimer/pomodoroTimerHomePageCompressed.jpg'
          />
          <ProjectItem
            id='simpleCalculator'
            projectTitle='Simple JavaScript Calculator'
            shortProjectDescription='A simple calculator application that can add, subtract, multiply, and divide'
            highQualityThumbnail='/images/simpleCalc/simpleCalcHome.jpg'
            lowQualityThumbnail='/images/simpleCalc/simpleCalcHomeCompressed.jpg'
          />
          <ProjectItem
            id='ticketingSolution'
            projectTitle='Ticketing Solution'
            shortProjectDescription='A scalable ticking solution for any company or organization'
            highQualityThumbnail='/images/ticketingSolution/ticketForm.jpg'
            lowQualityThumbnail='/images/ticketingSolution/ticketFormCompressed.jpg'
          />
          <ProjectItem
            id='javaSnake'
            projectTitle='Java Snake'
            shortProjectDescription='The classic game of Snake written in Java'
            highQualityThumbnail='/images/JavaSnake/gameRunning.jpg'
            lowQualityThumbnail='/images/JavaSnake/gameRunningCompressed.jpg'
          />
          <ProjectItem
            id='javaCalc'
            projectTitle='Java Calculator'
            shortProjectDescription='A simple calculator application written in Java'
            highQualityThumbnail='/images/javaCalc/home.jpg'
            lowQualityThumbnail='/images/javaCalc/homeCompressed.jpg'
          />
        </div>
      </Content>
    </main>
  </Body>
</html>
